:root {
 --color-whiter: #fcfcfc;   
 --color-white: #FFFBF4;
 --color-lighterRed:#935C5F;
 --color-red: #85484B;
 --color-darkerRed:#783438;
 --color-lighterGreen:#C2CFC2;
 --color-green: #A8BBA8;
 --color-darkerGreen:#869586;
 --color-brown:#603b1cbd;
 --color-black: #2c2c2c;

 --font-main: 'Open Sans', sans-serif;
 --font-secondary: 'Cinzel Decorative', cursive;
}

*
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  input[type="radio"]{
    text-decoration: underline;
    width: 0;
    height: 0;
    text-align: center;
    }
    
  input[type="radio"]:checked{
    visibility:hidden;
    }